.DS_Store
**/.DS_Store
**/__pycache__/
**/*.pyc

.vscode/

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.xdv

data/raw/*.csv
data/processed/
**/*.npy
**/*.npz
**/*.parquet
**/*.joblib
reports/*_models/

!data/raw/*.README
!pkdd-15-predict-taxi-service-trajectory-i/metaData_taxistandsID_name_GPSlocation.csv
!pkdd-15-predict-taxi-service-trajectory-i/evaluation_script.r
!reports/*.md
!reports/*.json
!reports/tables/*.tex
!reports/figures/*
!latex/figure/*